<div class="header"></div>
<div class="chat-container">
  <div class="chat md-elevation-z4">
    <md-sidenav-container>

      <md-sidenav class="md-elevation-z2" mode="side" [opened]="true" #chatSidenav>
        <div class="sidenav-container">
          <md-toolbar>
            <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">
              <img class="avatar pointer" src="assets/img/avatars/noavatar.png">
              <span fxFlex><!-- fill space --></span>
              <button md-icon-button [mdMenuTriggerFor]="userMenu">
                <md-icon>more_vert</md-icon>
              </button>
            </div>
          </md-toolbar>

          <div class="chat-contacts-container" fxLayout="column">
            <perfect-scrollbar>
              <md-nav-list class="chat-contacts">
                <md-list-item class="chat-contact" (click)="setActiveChat(chat)" *ngFor="let chat of chats" md-ripple>
                  <img [src]="chat.picture" md-list-avatar>
                  <h3 class="name" md-line>{{chat.name}}</h3>
                  <p class="last-message" md-line> {{chat.lastMessage}}</p>
                </md-list-item>
              </md-nav-list>
            </perfect-scrollbar>
          </div>
        </div>
      </md-sidenav>

      <div class="chat-inner-container">
        <md-toolbar>
          <div class="toolbar" fxLayout="row">
            <button md-icon-button (click)="chatSidenav.toggle()">
              <md-icon>menu</md-icon>
            </button>

            <div class="current-contact" fxLayout="row" fxLayoutAlign="start center">
              <img class="avatar pointer" [src]="activeChat.picture">

              <div fxLayout="column">
                <span class="name">{{ activeChat.name }}</span>
                <span class="status">Online</span>
              </div>
            </div>

            <span fxFlex><!-- fill space --></span>

            <button md-icon-button>
              <md-icon>attach_file</md-icon>
            </button>

            <button md-icon-button [mdMenuTriggerFor]="chatMenu">
              <md-icon>more_vert</md-icon>
            </button>
          </div>
        </md-toolbar>

        <div class="chat-content" fxLayout="column" fxLayoutAlign="end stretch">

          <perfect-scrollbar #chatScroll>
            <div class="messages-container">
              <div class="chat-message" *ngFor="let message of chats[0].messages" [ngSwitch]="message.who" fxLayout="column" fxLayoutAlign="end start">
                <div class="partner" *ngSwitchCase="'partner'" fxFlexAlign="start" fxLayout="row" fxLayoutAlign="start start">
                  <img class="avatar" [src]="activeChat.picture">
                  <span class="message md-elevation-z1">{{ message.message }}</span>
                </div>
                <div class="me" *ngSwitchCase="'me'" fxFlexAlign="end" fxLayout="row" fxLayoutAlign="end start">
                  <span class="message md-elevation-z1">{{ message.message }}</span>
                  <img class="avatar" src="assets/img/avatars/noavatar.png">
                </div>
              </div>
            </div>
          </perfect-scrollbar>


          <div class="chat-respond" fxLayout="row" fxLayoutAlign="start center">
            <md-input-container fxFlex>
              <textarea md-input (keyup.enter)="send()" [(ngModel)]="newMessage" placeholder="Type and hit enter to send your message"></textarea>
            </md-input-container>
            <button (click)="send()" md-fab color="primary"><md-icon>send</md-icon></button>
          </div>
        </div>
      </div>

    </md-sidenav-container>

  </div>
</div>

<md-menu #userMenu="mdMenu">
  <button md-menu-item>
    <md-icon> account_circle </md-icon>
    <span> Profile </span>
  </button>
  <button md-menu-item>
    <md-icon> settings </md-icon>
    <span> Settings </span>
  </button>
  <button md-menu-item>
    <md-icon>help</md-icon>
    <span>Help</span>
  </button>
  <md-divider></md-divider>
  <button md-menu-item>
    <md-icon> exit_to_app </md-icon>
    <span> Logout </span>
  </button>
</md-menu>

<md-menu #chatMenu="mdMenu">
  <button md-menu-item>
    <md-icon> account_circle </md-icon>
    <span> Contact Info </span>
  </button>
  <button md-menu-item>
    <md-icon> volume_mute </md-icon>
    <span> Mute Chat </span>
  </button>
  <md-divider></md-divider>
  <button md-menu-item (click)="clearMessages(activeChat)">
    <md-icon> clear_all </md-icon>
    <span> Clear Messages </span>
  </button>
</md-menu>
