<div fxLayout="row" fxLayoutAlign="center center" style="margin: 24px 0;">
  <md-card fxFlex="90%">
    <md-card-title>Material Tooltips</md-card-title>

    <md-divider></md-divider>

    <md-card-content fxLayout="column">

      <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start" style="margin: 24px 0">
        <div fxFlex fxFlex.gt-md="30%" style="margin-right: 24px;">
          <div fxLayout="column">
            <h3>Tooltips</h3>
            <h4>&lt;md-button&gt;</h4>
            <p>Tooltips offer space for additional information on e.g. an icon.</p>
            <h5>Example:</h5>
            <p><code msHighlight class="html">&lt;button md-button mdTooltip="I'm a Tooltip!"&gt;<br/>  Button<br/>&lt;/button&gt;</code></p>
          </div>
        </div>
        <div class="demo-tabs md-elevation-z2" fxFlex>
          <md-tab-group>
            <md-tab label="PREVIEW">
              <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
                <md-card fxFlex="80%" fxFlex.sm="90%">
                  <md-card-content fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center" fxLayoutWrap="wrap">
                    <button md-icon-button mdTooltip="Favorite this"><md-icon>favorite</md-icon></button>
                  </md-card-content>
                </md-card>
              </div>
            </md-tab>
            <md-tab label="HTML">
              <code [innerHTML]="getEscaped(tooltipHTML)" msHighlight class="html"></code>
            </md-tab>
          </md-tab-group>
        </div>
      </div>

    </md-card-content>

  </md-card>
</div>

