<div fxLayout="row" fxLayoutAlign="center center" style="margin: 24px 0;">
  <md-card fxFlex="90%">
    <md-card-title>Material Dialogs</md-card-title>

    <md-divider></md-divider>

    <md-card-content fxLayout="column">

      <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start" style="margin: 24px 0">
        <div fxFlex fxFlex.gt-md="30%" style="margin-right: 24px;">
          <div fxLayout="column">
            <h3>Dialog</h3>
            <h4>&lt;md-dialog&gt;</h4>
            <p>MdDialogs can be used to open modal dialogs with Material Design styling and animations.</p>
          </div>
        </div>
        <div class="demo-tabs md-elevation-z2" fxFlex>
          <md-tab-group>
            <md-tab label="PREVIEW">
              <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
                <md-card fxFlex="80%" fxFlex.sm="90%">
                  <md-card-content fxLayout="column" fxLayoutAlign="center center">
                    <button md-raised-button type="button" (click)="openDialog()" color="primary">Open Dialog</button>
                    <p *ngIf="result">You chose: {{ result }}</p>
                  </md-card-content>
                </md-card>
              </div>
            </md-tab>
            <md-tab label="HTML">
              <code [innerHTML]="getEscaped(dialogHTML)" msHighlight class="html"></code>
            </md-tab>
          </md-tab-group>
        </div>
      </div>

    </md-card-content>

  </md-card>
</div>

