<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="register md-elevation-z12">
    <div class="register-header" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/img/icon.png">
    </div>
    <form #form="ngForm" (ngSubmit)="register()">
      <div class="register-content" fxLayout="column" fxLayoutAlign="start stretch">
        <md-input-container>
          <input md-input placeholder="Name" type="text" name="name" required [(ngModel)]="name">
        </md-input-container>
        <md-input-container>
          <input md-input placeholder="E-Mail" type="text" name="email" required [(ngModel)]="email">
        </md-input-container>
        <md-input-container>
          <input md-input placeholder="Password" type="password" name="password" required [(ngModel)]="password">
        </md-input-container>
        <md-input-container>
          <input md-input placeholder="Password (Confirm)" type="password" name="password-confirm" required [(ngModel)]="passwordConfirm">
        </md-input-container>
        <div class="extra-options" fxLayout="row" fxLayoutAlign="center center">
          <md-checkbox class="remember-me">I accept the <a href="#">terms and conditions.</a></md-checkbox>
        </div>
        <button color="primary" md-raised-button [disabled]="!form.valid">CREATE ACCOUNT</button>
        <p class="note">Already have an account?<br/> <a [routerLink]="['/login']">Sign in here</a></p>
      </div>
    </form>
  </div>
</div>
