<div class="piechart-widget chart-widget md-elevation-z2" [style.background]="bgColor">
  <div class="title-container" [style.color]="textColor" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column">
      <span class="title">{{ title }}</span>
      <span class="extra">{{ subTitle }}</span>
    </div>
    <span fxFlex></span>
    <button md-icon-button (click)="reload()">
      <md-icon>refresh</md-icon>
    </button>
    <button md-icon-button [mdMenuTriggerFor]="options">
      <md-icon>more_vert</md-icon>
    </button>
  </div>
  <div class="chart-container">
    <nvd3 class="intense-colors-pie-chart white-labels-pie-chart" [options]="chartOptions" [data]="data"></nvd3>
  </div>
  <div class="chart-footer" fxLayout="row">
    <div class="border-right text-center" fxFlex fxLayout="column">
      <span class="title">1096</span>
      <span class="extra">Total Sales</span>
    </div>
    <div class="text-center" fxFlex fxLayout="column">
      <span class="title">598</span>
      <span class="extra">Sales from these Categories</span>
    </div>
  </div>
  <ms-loading-overlay [isLoading]="isLoading"></ms-loading-overlay>
</div>

<md-menu #options="mdMenu">
  <button md-menu-item>
    <md-icon> settings </md-icon>
    <span> Settings </span>
  </button>
  <button md-menu-item disabled>
    <md-icon> more </md-icon>
    <span> More Info </span>
  </button>
  <button md-menu-item>
    <md-icon> remove_circle </md-icon>
    <span> Remove Widget </span>
  </button>
</md-menu>
