<div fxLayout="row" fxLayoutAlign="center center">
  <md-card fxFlex="90%" style="padding: 0;">
    <md-toolbar color="primary">Form Wizard</md-toolbar>
    <md-card-content>
      <md-tab-group [selectedIndex]="selectedIndex">
        <md-tab label="ACCOUNT DETAILS">
          <form #form="ngForm">
            <div fxLayout="column" style="padding: 16px;">
              <md-input-container>
                <input md-input
                       name="username"
                       placeholder="Username"
                       required
                       ngModel="DavidSmith33">
              </md-input-container>
              <md-input-container>
                <input md-input
                       name="email"
                       type="email"
                       required
                       ngModel
                       placeholder="E-Mail">
              </md-input-container>
              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input md-input
                         name="password"
                         type="password"
                         required
                         ngModel
                         placeholder="Password">
                </md-input-container>
                <md-input-container fxFlex>
                  <input md-input
                         name="password_confirm"
                         type="password"
                         required
                         ngModel
                         placeholder="Confirm Password">
                </md-input-container>
              </div>

              <div fxLayout="row" fxLayoutAlign="end center">
                <button md-button
                        type="button"
                        disabled>Previous</button>

                <button color="primary"
                        md-raised-button
                        style="margin-left: 8px;"
                        [disabled]="!form.valid"
                        (click)="nextStep()"
                        type="button">Next</button>
              </div>
            </div>
          </form>
        </md-tab>
        <md-tab label="YOUR ADDRESS" [disabled]="!form.valid">
          <form #form2="ngForm">
            <div fxLayout="column" style="padding: 16px;">
              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input md-input
                         name="firstname"
                         placeholder="First Name"
                         required>
                </md-input-container>
                <md-input-container fxFlex>
                  <input md-input
                         name="lastname"
                         placeholder="Last Name"
                         required
                         ngModel>
                </md-input-container>
              </div>

              <md-input-container fxFlex>
                <input md-input
                       name="street"
                       required
                       ngModel
                       placeholder="Street">
              </md-input-container>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input md-input
                         name="zipcode"
                         required
                         ngModel
                         placeholder="Zipcode">
                </md-input-container>
                <md-input-container fxFlex>
                  <input md-input
                         name="city"
                         required
                         ngModel
                         placeholder="City">
                </md-input-container>
              </div>

              <div fxLayout="row" fxLayoutAlign="end center">
                <button md-button
                        type="button"
                        (click)="previousStep()">Previous</button>

                <button color="primary"
                        md-raised-button
                        style="margin-left: 8px;"
                        [disabled]="!form2.valid"
                        (click)="nextStep()"
                        type="button">Next</button>
              </div>
            </div>
          </form>
        </md-tab>
        <md-tab label="BILLING DETAILS"  [disabled]="!form2.valid">
          <form #form3="ngForm">
            <div fxLayout="column" style="padding: 16px;">
              <md-input-container fxFlex>
                <input md-input
                       name="creditcard"
                       placeholder="Credit Card Number"
                       required>
              </md-input-container>

              <md-input-container fxFlex>
                <input md-input
                       name="creditcardname"
                       required
                       ngModel
                       placeholder="Credit Card Owner">
              </md-input-container>

              <md-input-container fxFlex>
                <input md-input
                       name="expirydate"
                       required
                       ngModel
                       placeholder="Expiry Date (MM/YYYY)">
              </md-input-container>

              <div fxLayout="row" fxLayoutAlign="end center">
                <button md-button
                        type="button"
                        (click)="previousStep()">Previous</button>

                <button color="primary"
                        md-raised-button
                        style="margin-left: 8px;"
                        [disabled]="!form3.valid"
                        (click)="nextStep()"
                        type="button">Next</button>
              </div>
            </div>
          </form>
        </md-tab>
        <md-tab label="CONFIRMATION"  [disabled]="!form3.valid">
          <div fxLayout="column" style="padding: 16px;">
            <h1>Congratulations!</h1>
            <p>You submitted the form.</p>
          </div>
        </md-tab>
      </md-tab-group>
    </md-card-content>
  </md-card>
</div>
